<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Transfer Confirmation</title>
</head>
<body>
<h2>Transactie geslaagd.</h2>

<br>
<br>

<table>

    <tr>
        <td>Van rekening:</td>
        <td>[rekeninghouder]</td>
        <td>[rekeningnummer]</td>
    </tr>

    <tr>
        <td>Naar rekening:</td>
        <td>[rekeninghouder]</td>
        <td>[rekeningnummer]</td>
    </tr>

    <tr>
        <td>Bedrag:</td>
        <td>[bedrag]</td>
    </tr>

    <tr>
        <td>Uitgevoerd op:</td>
        <td>[datum tijd]</td>
    </tr>

</table>

<br>
<br>
Klik <a href="AccountSummary.html">hier</a> om terug te keren naar het rekeningoverzicht.
</body>
</html>