<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>

<body>

<h1> Dit is de loginpagina</h1>
<form action="#" th:action="@{loginHandler}" th:object="${customer}" method="post">
    <table>
        <tr>
            <td>Naam:</td>
            <td><input type="text" th:field="*{name}"></td>
        </tr>

        <td>
        <td>Password:</td>
        <input type="text" th:field="*{password}"></td>
        </tr>

        <tr>
            <td><input type="submit" , name="OK"></td>
        </tr>

    </table>
</form>

</body>
</html>