<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MKBOverview</title>
</head>
<body>
<h1>Overzicht voor inzien gegevens, gebaseerd op functie van ingelogde Employee</h1>
<form action="MKBSectorView">
    <input type="submit" value="Ga naar Martijn"/>
</form>
<form action="MKBHighestBalance">
    <input type="submit" value="Top 10 MKB rekeningen hoogste saldo"/>
</form>
<form action="MKBMostTransfers">
    <input type="submit" value="Top 10 MKB klanten met de meeste transacties"/>
</form>
<br>
<br>
<input type="button" value="Ga terug" onclick="history.back()">
</body>
</html>