<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Overzicht sectoren</h1>
<div>
    <h2></h2>
    <table>

        <tr>
            <td>Sector:</td>
            <td>Aantal rekeningen:</td>
            <td>Totaal:</td>
            <td>Gemiddeld:</td>
        </tr>

        <tr><td></td></tr>

        <tr>
            <td>Bouw</td>
        </tr>

        <tr>
            <td>Financien</td>
        </tr>

        <tr>
            <td>Handel</td>
        </tr>

        <tr>
            <td>Horeca</td>
        </tr>

        <tr>
            <td>Industrie</td>
        </tr>

        <tr>
            <td>Landbouw</td>
        </tr>

        <tr>
            <td>Logistiek</td>
        </tr>

        <tr>
            <td>Onderwijs</td>
        </tr>

        <tr>
            <td>IT</td>
        </tr>

        <tr>
            <td>Zorg</td>
        </tr>

    </table>

<br><br>

    <input type="button" value="Ga terug" onclick="history.back()">

</div>
</body>
</html>