<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Open Account</title>
</head>
<body>

<h1> Open hier uw (extra) rekening</h1>

<br>
<br>

<!--moet gaan leiden tot nieuwe instantie van account-object, en wegschrijven daarvan.-->
<form th:action="@{OpenPersonalAccountConfirmation}" th:object="${Customer}" method="post">
<br>
    <h2> Particuliere rekening</h2>
<br>
    <input type="submit" value="Vraag een particuliere rekening aan">
</form>

<br>
<br>
<br>

<h2> Zakelijke (MKB) rekening</h2>
<br>
<form th:action="@{OpenBusinessAccountConfirmation}" th:object="${BusinessAccount}" id="BusinessAccount" method="post">

    Wat is de naam van het bedrijf waarvoor u de rekening wilt?:<br>
<br>    <input type="text" name="CompanyName"><br>
<br>
    <!-- later dropdown menu van maken, als wij een tabel met sectoren aangemaakt hebben-->
    In welke economische sector is uw bedrijf actief?
    <br>
    <br>
    <select name="sector" form="BusinessAccount">
        <option value="Bouw">Bouw</option>
        <option value="Financien">Financien</option>
        <option value="Handel">Handel</option>
        <option value="Horeca">Horeca</option>
        <option value="Industrie">Industrie</option>
        <option value="Landbouw">Landbouw</option>
        <option value="Logistiek">Logistiek</option>
        <option value="Onderwijs">Onderwijs</option>
        <option value="IT">IT</option>
        <option value="Zorg">Zorg</option>
    </select>
<br>
<br>
<br>
    <input type="submit" value="Vraag een MKB rekening aan">
</form>
<br>
<br>
<h3></h3>Ga naar uw <a href="Overview">rekeningoverzicht</a>
<br>
<br>
<input type="button" value="Log out en ga terug naar index" onclick="window.location.href='Index.html'" />


</body>
</html>