<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Open PersonalAccount Confirmation </title>
</head>

<body>

<h1> Uw nieuwe rekening is aangemaakt.</h1>



    <h3>


    U heeft een particuliere rekening geopend.
    Uw rekeningnummer is: <span th:text="${rekeningnummer}"></span>

    <br>
    <br>
    <br>

        Op uw nieuwe rekening krijgt u een welkomstcadeau van VrekBank;
        U heeft het fantastische bedrag van <span th:text="${saldo}"></span> Euro op deze rekening staan.

    <br>
    <br>
    <br>

    Gelieve niet te proberen onder een saldo van <span th:text="${minimumsaldo}"></span> Euro uit te komen, anders
    zien wij ons genoodzaakt Incassobureau Binnen Zonder Kloppen te activeren...

    <br>
    <br>
    <br>

    </h3>

</body>
</html>