<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Transfer</title>
</head>
<body>
    <h2> Pagina om geld over te maken voor ingelogde klanten </h2>
<p>
    Naam begunstigde invoeren
    Rekeningnummer begunstigde invoeren
    Gewenst bedrag invoeren
    Eventueel wachtwoord/pin invoeren
    Bevestigen
</p>

Voer hieronder de gevraagde gegevens in om geld te kunnen overmaken
<br>
<br>
<form th:action="@{transferHandler}" th:object="${Account}" method="post">




</form>


</body>
</html>