<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Transaction</title>
</head>
<body>
    <h2> Pagina om geld over te maken voor ingelogde klanten </h2>
<p>
    Naam begunstigde invoeren
    Rekeningnummer begunstigde invoeren
    Gewenst bedrag invoeren
    Beschrijving typen
    Eventueel wachtwoord/pin invoeren
    Bevestigen
</p>
<div>
<h2> Invoer transactiemenu. Moet overzichtelijk en simpel zijn</h2>
    <!--<form th:action="@{transactionHandler}" th:object="${customer}" method="post">-->
<table>
    <tr>
        <td> Van: Rekeningnummer van ingelogde klant </td>
        <td> Naam: Naam van ingelogde klant </td>
    </tr>
    <tr>
        <td> Naar: Rekeningnummer begunstigde</td>
        <td> Naam: Naam begunstigde </td>
    </tr>
    <tr>
        <td> Bedrag: Voer hier het bedrag in dat je wil overmaken</td>
    </tr>
    <tr>
        <td> Beschrijving: type hier eventueel een beschrijving voor de ontvanger/eigen administratie</td>
    </tr>
</table>
</div>
Voer hieronder de gevraagde gegevens in om geld te kunnen overmaken
<br>
<br>
<form th:action="@{transferHandler}" th:object="${Account}" method="post">
</form>

</body>
</html>