<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Transfer Confirmation</title>
</head>
<body>
<h2>Transactie geslaagd.</h2>

<br>
<br>

<table>

    <tr>
        <td>Van rekening:</td>
        <td><td><span th:text="${debitIban}"></span></td></td>
        <td></td>
    </tr>
    <br>



    <tr>
        <td>naar rekening:</td>

        <td><td> <span th:text="${creditIban}"></span> </td></td>
        <td></td>
    </tr>
    <br>

   <!-- nog toevoegen: naam ontvanger, evt naam betaler-->

    <tr>
        <td>Bedrag:</td>
        <td><td> <span th:text="${transferAmount}"></span> </td></td>
        <td></td>
    </tr>

    <tr>
        <td>Omschrijving:</td>
        <td><td> <span th:text="${description}"></span> </td></td>
        <td></td>
    </tr>

    <tr>
        <td>Uitgevoerd op:</td>
        <td><td> <span th:text="${date}"></span> </td></td>
        <td></td>
    </tr>

</table>

<br>
<br>
Klik <a href="AccountSummary.html">hier</a> om terug te keren naar het rekeningoverzicht.
</body>
</html>