<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Transfer</title>
</head>
<body>
<h1> <span th:text="${name}"/>, op deze pagina kan je geld overmaken </h1>

<div>
    <form th:action="@{transferConfirmationTransferHandler}" th:object="${transfer}" method="post">
        <table>
            <tr>
                <td> Van: </td>
                <td> <input type="text" th:field="*{creditIban}"> </td> <!--session nodig-->
                <td> Naam: </td>
                <td> <input type="text" th:field="firstName"> </td> <!--session-->
            </tr>
            <tr>
                <td> Naar: </td>
                <td> <input type="text" th:field="*{debitIban}"> </td>
                <td> Naam: </td>
                <td> <input type="text" th:field="firstName"> </td>
            </tr>
            <tr>
                <td> Bedrag: </td>
                <td> <input type="text" th:field="*{transferamount}"> </td>
            </tr>
            <tr>
                <td> Beschrijving: </td>
                <td> <input type="text" th:field="*{description}"> </td>
            </tr>
            <tr>
                <td> Datum: (jjjj-mm-dd) </td>
                <td> <input type="text" th:field="*{date}"> </td>
            </tr>
            <tr>
                <td>
                    <a href="/confirmationTransfer">bevestig</a>
                </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>